<br>
<br>
<div class="table-responsive-md">
    <br>
    <br>
    <h5>Listado de Materias</h5>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Cod.</th>
                <th scope="col">Materia</th>
                <th scope="col">Cuatrimestre</th>
                <th scope="col">Profesor</th>
                <th scope="col">Estado</th>
                <th scope="col"><button class="btn btn-block btn-success" data-toggle="modal" data-target="#modalNuevaInscripcion">Inscribirse</button></th>
                <th scope="col">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let inscripcion of inscripciones; index as i">
                <th scope="row">{{i+1}}</th>
                <td>{{inscripcion.materia}}</td>
                <td>{{inscripcion.cuatrimestre}}</td>
                <td>{{inscripcion.profesor}}</td>
                <td>{{inscripcion.estado}}</td>
                <td *ngIf="inscripcion.userId == userId || isAdmin == true; else noOwner">
                    <button class="btn btn-block btn-primary" data-toggle="modal" data-target="#modalNuevaInscripcion" (click)="modificarInscripcion(inscripcion)">Modificar</button>
                </td>
                <ng-template #noOwner>
                    <td>
                        <button class="btn btn-secondary" disabled="true">Modificar</button>
                    </td>
                </ng-template>
                <td *ngIf="isAdmin == true; else noAdmin">
                    <button class="btn btn-block btn-danger" (click)="cancelarInscripcion(inscripcion.id)">Cancelar</button>
                </td>
                <ng-template #noAdmin>
                    <td>
                        <button class="btn btn-danger" disabled="true">Cancelar</button>
                    </td>
                </ng-template>
            </tr>
        </tbody>
    </table>
</div>
<app-modalNuevaInscripcion [userId]="userId"></app-modalNuevaInscripcion>