<div class="modal fade" id="modalBusqueda" tabindex="-1" role="dialog" aria-labelledby="modalBusquedaLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalBusquedaLabel">Resultado Busqueda</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
            </div>
            <div class="modal-body">
                <!-- <app-mostrar [usuarios]="this.usuarios"></app-mostrar> -->
                <div class="box">
                    <div *ngFor="let u of  this.usuariosModal" class="card" style="width: 18rem;">
                        <img src="{{u.foto}}" class="rounded-circle img-thumbnail" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{ u.nombre | titlecase }} <br> {{ u.apellido | titlecase }}</h5>
                            <p class="card-text"><b>E-mail: </b> {{ u.email }}</p>
                            <p class="card-text"><b>isAdmin:</b> {{ u.roles.admin }}</p>
                            <p class="card-text"><b>isProfesor:</b> {{ u.roles.profesor }}</p>
                            <p class="card-text"><b>isAlumno:</b> {{ u.roles.alumno }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" #btnClose data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>